
@{
    Layout = null;
}

<html>

<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body class="m-3">
    <h1>MVC Lab-3 ITI</h1>

    @RenderBody()

</body>
</html>
